#Home {
	width: 100vw;
	height: 100vh;

	position: relative;
}

#Home.guest {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../../assets/imgs/loginbg-1.png) top center;
	background-size: cover;
}

#Home.guest > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#Home.guest > div h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	color: white;
}

#Home.guest > div img {
	width: 100px;
	background-color: white;
	border-radius: 100px;
}

#Home.guest:before {
	content: "";
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#Home.sadmin {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #f9fbff;
}

#Home.sadmin > h1 {
	margin: 1.5rem 0;
	color: #bf8f60;
	text-transform: uppercase;
}

#StatBoxes {
	width: 85%;
	height: max-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#StatBoxes > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 15rem;
	padding: 1.25rem 0.25rem;
	margin-bottom: 2rem;
	border-radius: 1.2rem;
	text-align: center;
	border: 2px solid rgba(85, 85, 85, 0.5);
	color: rgba(85, 85, 85, 0.9);
	gap: 3px;
}

#Home.sadmin #ListOfBooks table {
	width: 85%;
}

#Home.sadmin #ListOfBooks #tablePagination {
	width: 85%;
	padding-bottom: 10rem;
}

#Home.sadmin #ListOfBooks #tablePagination > div {
	display: flex;
	gap: 10px;
}

#Home.sadmin #ListOfBooks #tablePagination > a > button {
	border-radius: 0.5rem;
	border: none;
	outline: none;
	cursor: pointer;
	background: #a7a791;
	color: rgba(255, 255, 255);
}

#Home.sadmin #ListOfBooks #tablePagination > a > button:hover {
	background: #bf8f60;
}

#Home.sadmin #ListOfBooks {
	width: 100vw;
	height: 100vh;
	background: #f9fbff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#Home.sadmin #ListOfBooks > h1 {
	margin: 1.5rem 0;
	color: #bf8f60;
	text-transform: uppercase;
}

#Home.sadmin #ListOfBooks > table {
	width: 90%;
	border-collapse: collapse;
	box-shadow: 0 5px 10px #e1e5ee;
	background-color: white;
	text-align: center;
	overflow: hidden;
}

#Home.sadmin #ListOfBooks > table thead {
	box-shadow: 0 5px 10px #e1e5ee;
}

#Home.sadmin #ListOfBooks > table th {
	padding: 1rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 0.7rem;
	font-weight: 900;
}

#Home.sadmin #ListOfBooks > table td {
	padding: 1rem 2rem;
}

#Home.sadmin #ListOfBooks > table .bookName {
	color: #bf8f60;
}

#Home.sadmin #ListOfBooks > table .edit,
#Home.sadmin #ListOfBooks > table .delete {
	color: black;
}

#Home.sadmin #ListOfBooks > table a:hover {
	text-decoration: underline;
}

#Home.sadmin #ListOfBooks > table .status {
	border-radius: 0.2rems;
	background-color: red;
	padding: 0.2rem 1rem;
}

#Home.sadmin #ListOfBooks > table .status.new {
	background-color: #c8e6c9;
	color: #388e3c;
}

#Home.sadmin #ListOfBooks > table .status.old {
	background-color: #fff0c2;
	color: #a68b00;
}

#Home.sadmin #ListOfBooks > table .modify svg {
	cursor: pointer;
}

#Home.sadmin #ListOfBooks table tr:nth-child(even) {
	background-color: #f4f6fb;
}

@media only screen and (max-width: 768px) {
	#Home div h1 {
		font-size: 26px;
		line-height: 36px;
	}
	#Home div h2 {
		font-size: 13px;
		line-height: 24px;
	}
}
