#SearchPage {
	width: 80%;
	height: max-content;
	margin: 0 auto;
	padding-bottom: 10rem;
	background: #f9fbff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#SearchPage h1 {
	margin: 1.5rem 0;
	color: #bf8f60;
	text-transform: uppercase;
}

#SearchPage .options {
	width: 100%;
}

#SearchPage .options .inputs {
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

#SearchPage .options .inputs ::placeholder {
	color: rgba(85, 85, 85, 0.5);
}

#SearchPage .options .inputs input {
	width: 100%;
	margin-top: 0.25rem;
	padding: 0.5rem 1rem;
	border: transparent;
	border-radius: 0.5rem;
	border: 1px solid rgba(85, 85, 85, 0.5);
	outline: transparent;
	background: transparent;
}

#SearchPage .options .inputs div {
	display: flex;
	flex-direction: column;
}

#SearchPage .options #categories {
	margin: 0.25rem 0 1.5rem 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 0.5rem;
}

#SearchPage .options #categories .category {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

#SearchPage .results {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1rem;
}

#SearchPage .results .row {
	width: 100%;
	padding: 1rem;
	border: 1px solid rgba(85, 85, 85, 0.3);
}

#SearchPage .results .row div {
	display: flex;
	align-items: center;
}

#SearchPage .results .row div svg {
	cursor: pointer;
}

#SearchPage .results .row div a:nth-child(1) {
	color: #bf8f60 !important;
	margin-right: 0.5rem !important;
	font-weight: bold !important;
	text-decoration: none;
}

#SearchPage .results .row div a:not(#SearchBook .results .row div a:nth-child(1)) {
	color: black;
	margin-right: 0.5rem;
}

#SearchPage .results .row div a:hover {
	text-decoration: underline;
}

#SearchPage .results .row div a:nth-child(3) {
	line-height: 0px;
}

#SearchPage .results .row div span {
	font-size: 11px;
	padding: 3px 7px;
	margin-right: 0.5rem;
	font-weight: bold;
	border-radius: 50px;
}

#SearchPage .results .row p {
	margin-top: 1rem;
}

#SearchPage .results .row .vanhoc {
	background: pink;
}

#SearchPage .results .row .khoahoc {
	background: purple;
	color: white;
}

#SearchPage .results .row .lichsu {
	background: #ffc107;
}

#SearchPage .results .row .tamly {
	background: #dc3545;
	color: white;
}

#SearchPage .results .row .thieunhi {
	background: #28a745;
	color: white;
}

#SearchPage .results .row .kinhte {
	background: blue;
	color: white;
}

#SearchPage .results .row .truyentranh {
	background: #ac9969;
	color: white;
}

#SearchPage .results .row .tongiao {
	background: grey;
	color: white;
}

#SearchPage .results .row .tieuthuyet {
	background: #03f7eb;
}

#SearchPage .results .row .haihuoc {
	background: #9dcdc0;
}

#SearchPage .results .row .hoiky {
	background: orange;
	color: white;
}

#SearchPage .results .row .phieuluu {
	background: #ea8fea;
}

#SearchPage .results .row .kynangsong {
	background: #ffaacf;
}

#SearchPage .results .row .sachgiaotrinh {
	background: #5f264a;
	color: white;
}

#SearchPage .results .row .trinhtham {
	background: #643a6b;
	color: white;
}

#SearchPage .results .row .tieusu {
	background: #245953;
	color: white;
}

#SearchPage .results .row .dulich {
	background: #7267cb;
	color: white;
}

#SearchPage .results .row .yhoc {
	background: #39b5e0;
}

#SearchPage .results .row .tamlinh {
	background: #990000;
	color: white;
}

#SearchPage .results .row .hocduong {
	background: #d4d925;
}
