#SettingPage {
	width: 100vw;
	height: 100vh;
	background: #f9fbff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#SettingPage h1 {
	margin: 1.5rem 0;
	color: #bf8f60;
	text-transform: uppercase;
}

#SettingPage .ProfileCard,
#SettingPage .SettingCard {
	width: 55%;
	padding: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 5px 10px #e1e5ee;
}

#SettingPage .ProfileCard > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#SettingPage .SettingCard > div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

#SettingPage .SettingCard > div div {
	display: flex;
	flex-direction: column;
}

#SettingPage .SettingCard > div div input[type="number"] {
	width: 396px;
	margin-top: 0.25rem;
	padding: 0.5rem 1rem;
	border: transparent;
	border-radius: 0.5rem;
	border: 2px solid rgba(85, 85, 85, 0.5);
	outline: transparent;
	background: transparent;
}

#SettingPage .SettingCard > div div input:focus {
	border: 2px solid #bf8f60;
}

#SettingPage .ProfileCard button,
#SettingPage .SettingCard button {
	width: 100%;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border-radius: 0.5rem;
	font-size: 1.25rem;
	border: none;
	outline: none;
	transition: var(--transition);
	cursor: pointer;
	background: #a7a791;
	color: rgba(255, 255, 255);
}

#SettingPage .ProfileCard button:hover,
#SettingPage .SettingCard button:hover {
	background: #bf8f60;
}

#SettingPage .SettingCard > div div:nth-child(5) {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#SettingPage .SettingCard > div div:nth-child(5) .option {
	width: 125px;
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10px;
	border-radius: 5px;
	cursor: pointer;
	padding: 0 10px;
	border: 2px solid lightgrey;
	transition: all 0.3s ease;
}

#SettingPage .SettingCard > div div:nth-child(5) .option .dot {
	width: 20px;
	height: 20px;
	background: #d9d9d9;
	border-radius: 50%;
	position: relative;
}

#SettingPage .SettingCard > div div:nth-child(5) .option .dot::before {
	position: absolute;
	content: "";
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background-color: #a7a791;
	border-radius: 50%;
	opacity: 0;
	transform: scale(1.5);
	transition: all 0.3s ease;
}

input[type="radio"] {
	display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
	border-color: #a7a791;
	background-color: #a7a791;
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
	background-color: white !important;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
	opacity: 1;
	transform: scale(1);
}

#SettingPage .SettingCard > div div:nth-child(5) .option span {
	font-size: 18px;
	color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
	color: white !important;
}
