#AddBookPage {
	width: 100vw;
	height: max-content;
	background: #f9fbff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 5rem;
}

#AddBookPage > h1 {
	margin: 1.5rem 0;
	color: #bf8f60;
	text-transform: uppercase;
}

#AddBookPage > table {
	width: 90%;
	border-collapse: collapse;
	box-shadow: 0 5px 10px #e1e5ee;
	background-color: white;
	text-align: center;
}

#AddBookPage > table thead {
	box-shadow: 0 5px 10px #e1e5ee;
}

#AddBookPage > table th {
	padding: 1rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 0.7rem;
	font-weight: 900;
}

#AddBookPage > table td {
	padding: 1rem 2rem;
}

#AddBookPage table tbody tr:hover {
	background-color: #e1e5ee;
}

#AddBookPage > table .bookName {
	color: #bf8f60;
}

#AddBookPage > table .edit,
#AddBookPage > table .delete {
	color: black;
}

#AddBookPage > table a:hover {
	text-decoration: underline;
}

#AddBookPage > table .status {
	border-radius: 0.2rems;
	background-color: red;
	padding: 0.2rem 1rem;
}

#AddBookPage > table .status.new {
	background-color: #c8e6c9;
	color: #388e3c;
}

#AddBookPage > table .status.old {
	background-color: #fff0c2;
	color: #a68b00;
}

#AddBookPage > table .modify svg {
	cursor: pointer;
}

#AddBookPage table tr:nth-child(even) {
	background-color: #f4f6fb;
}

#AddBookPage #addBookIcon {
	width: 46px;
	height: 46px;
	background-color: #bf8f60;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 88px;
	right: 0;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	cursor: pointer;
}

#AddBookPage #addBookIcon:hover {
	background-color: #a7a791;
}

#AddBookPage div:last-child {
	height: 25px;
}
